services:
  - type: web
    name: discord-bot-taixiu
    env: node
    plan: free
    region: singapore
    buildCommand: chmod +x render-build.sh && ./render-build.sh
    startCommand: node index.js
    envVars:
      - key: NODE_ENV
        value: production
