services:
  - type: web
    name: taixiu-bot
    env: node
    plan: free
    buildCommand: |
      apt-get update
      apt-get install -y libcairo2 libcairo2-dev libpango1.0-0 libpango1.0-dev libjpeg62-turbo libjpeg62-turbo-dev libpng16-16 libpng-dev libgif7 librsvg2-2
      bash render-build.sh
    startCommand: "node index.js"
